$left:right;
$right:left;
$dir:rtl;
$flex-start:flex-start;
$flex-end:flex-end;

@import'./helpers/mixins';
@import'./helpers/common';
@import'./helpers/download';
@import'./helpers/navbar';
@import'./helpers/footer';
@import './pages/indexpage';
@import './pages/account';
@import './pages/bio';
//@import './pages/payment';
@import './pages/booking';
@import './pages/rewards';
@import './pages/resources';
@import './pages/about';
@import './pages/login';
@import './helpers/mediaquery';